@theme {
  --color-primary: #FF6600;
  --color-secondary: #FFF9E8;
  --color-third: #1C1C1E;
  --color-fourth: #FFE9C8;
  --color-fifth: #E94786;
  --font-body: "Bricolage Grotesque", sans-serif;
  --font-head: "Dela Gothic One", sans-serif;
  --font-product: "Anton", sans-serif;
  --item-shadow-unhover: 0px 0px 0px 0px #000000;
  --item-shadow: 6px 6px 0px 0px #000000;
}

@layer components {
  img {
    object-fit: contain;
  }
  .container {
    @apply relative max-w-screen-xl! mx-auto px-6 lg:px-4 {}
  }
  .section {
    @apply relative border-t-2 {}
  }
  .item {
    @apply transition-shadow shadow-(--item-shadow-unhover) {}
  }
  .item-title {
    @apply block {}
  }
  .item-figure {
    @apply overflow-hidden transition-shadow shadow-(--item-shadow-unhover) {}
  }
}
